//****  This is the master scss/css file for table styles  ****//

//---- Start SCSS - CSS ----//

table
	{
	width:100%;
	border:1px solid #000;
	text-align:left;
	thead
		{
		background-color:#ccc;
		th
			{
			padding:10px;
			}
		}
	td 
		{
		padding:10px;
		}
	}

//---- End SCSS - CSS ----//







































