//****  This is the master scss/css file for table styles  ****//

//---- Start SCSS - CSS ----//

table
	{
	width:100%;
	border:1px solid $table-border;
	text-align:$align-l;
	caption 
		{
		padding-bottom:calc-em($caption-padding, $context);
		font-size:$caption-font-size;
		color:$caption-color;
		text-align:$align-l;
		line-height:$caption-line-height;
		}
	thead
		{
		background-color:$table-header;
		th
			{
			padding:calc-em($table-padding, $context);
			font-size:$th-font-size;
			vertical-align:$valign-m;
			}
		}
	tr:nth-of-type(even)
		{
		background-color:$table-row-even;
		}
	td 
		{
		padding:calc-em($table-padding, $context);
		font-size:$td-font-size;
		line-height:$td-line-height;
		vertical-align:$valign-m;
		}
	}
.table-hover tbody tr:hover
	{
	background-color:$table-row-hover;
	}

//---- End SCSS - CSS ----//







































