//****  This is the master scss/css file for all button Styles  ****//

//---- Start SCSS - CSS ----//

//////////// Start Default Global Button Style ////////////

%global-btn-style
	{
	display:$inl-blc;
	background-color:$purple;
	opacity:1;
	transition:opacity .25s ease-in-out;
	text-transform:capitalize;
	text-decoration:none;
	font-weight:$w-300;
	outline:none;
	border:none;
	&:hover	 
		{
		opacity:.65;
		cursor:pointer;
		}
	&:active
		{
		opacity:.25;
		}
	}

//////////// End Global Button Style ////////////

//////////// Start Button Colors ////////////

.green-success
	{
	background-color: $green-success;
	}

.yellow-warning
	{
	background-color: $yellow-warning;
	}

.red-error
	{
	background-color: $red-error;
	}

//////////// Start Button Colors ////////////

%btn-radius-all
	{
	@include border-radius-all($default-border-radius);
	}

%btn-radius-left-side
	{
	@include border-radius-left-side($default-border-radius, $one-side, $one-side, $default-border-radius);
	}

%btn-radius-right-side
	{
	@include border-radius-right-side($one-side, $default-border-radius, $default-border-radius, $one-side);
	}

%btn-radius-top
	{
	@include border-radius-top($default-border-radius, $default-border-radius, $one-side, $one-side);
	}

%btn-radius-bottom
	{
	@include border-radius-bottom($one-side, $one-side, $default-border-radius, $default-border-radius);
	}

.btn-radius-all
	{
	@extend %btn-radius-all;
	}

.btn-radius-left-side
	{
	@extend %btn-radius-left-side;
	}

.btn-radius-right-side
	{
	@extend %btn-radius-right-side;
	}

.btn-radius-top
	{
	@extend %btn-radius-top;
	}

.btn-radius-bottom
	{
	@extend %btn-radius-bottom;
	}

.simple-btn-xxxl 	
	{
	padding:$xxxl-btn-p;
	color:$white;
	font-size:calc-em($xxxl-btn-font-size, $context);
	@extend %global-btn-style;
	}
.simple-btn-xxl 	
	{
	padding:$xxl-btn-p;
	color:$white;
	font-size:calc-em($xxl-btn-font-size, $context);
	@extend %global-btn-style;
	}
.simple-btn-xl 	
	{
	padding:$xl-btn-p;
	color:$white;
	font-size:calc-em($xl-btn-font-size, $context);
	@extend %global-btn-style;
	}
.simple-btn	
	{
	padding:$default-btn-p;
	color:$white;
	font-size:calc-em($default-btn-font-size, $context);
	@extend %global-btn-style;
	}
.simple-btn-xs 	
	{
	padding:$xs-btn-p;
	color:$white;
	font-size:calc-em($xs-btn-font-size, $context);
	@extend %global-btn-style;
	}
.simple-btn-xxs 	
	{
	padding:$xxs-btn-p;
	color:$white;
	font-size:calc-em($xxs-btn-font-size, $context);
	@extend %global-btn-style;
	}
.simple-btn-xxxs 	
	{
	padding:$xxxs-btn-p;
	color:$white;
	font-size:calc-em($xxxs-btn-font-size, $context);
	@extend %global-btn-style;
	}
%button-group-style
	{
	button 		
		{
		float:left;
		border-right:1px $b-solid $white;
		&:last-child
				{
				border:none;
				}
		}	
	}
.button-groups
	{
	@extend %button-group-style; 	
	}
.button-groups-rounded
	{
	@extend %button-group-style; 
	button:first-child
		{
		@extend %btn-radius-left-side;	
		}
	button:last-child
		{
		@extend %btn-radius-right-side;	
		}	
	}

//////////// Start Buttons With Icons ////////////

.glyphicons.wifi:before, .glyphicons.user:before, .glyphicons.calendar:before, 
.glyphicons.chat:before, .glyphicons.charts:before, .glyphicons.lock:before,
	{
	padding-right:$btn-icon-p;
  	vertical-align:$valign-b;
  	opacity:.65;
	}
.glyphicons.heart:before, .glyphicons.ok:before, .glyphicons.cogwheel:before, 
.glyphicons.circle_question_mark:before, .glyphicons.shopping_cart:before, .glyphicons.sun:before
 	{
 	padding-left:$btn-icon-p;
 	padding-right:0;
 	vertical-align:$valign-b;
 	opacity:.65;
 	}

//////////// End Buttons With Icons ////////////

//////////// Start Full Width Buttons ////////////

.btn-blc
	{
	width:$width-100;
	display:$blc;
	}
//////////// End Full Width Buttons ////////////

//////////// Start Button Hover States ////////////

.button-hover-states
	{
	.auto
		{ 
		cursor:auto;
		}
	.default
		{ 
		cursor:default; 
		}
	.none            
		{ 
		cursor:none; 
		}
	.context-menu    
		{ 
		cursor:context-menu; 
		}
	.help            
		{ 
		cursor:help; 
		}
	.pointer         
		{ 
		cursor:pointer; 
		}
	.progress        
		{ 
		cursor:progress; 
		}
	.wait            
		{ 
		cursor:wait; 
		}
	.cell            
		{ 
		cursor:cell; 
		}
	.crosshair       
		{ 
		cursor:crosshair; 
		}
	.text           
		{ 
		cursor:text; 
		}
	.vertical-text   
		{ 
		cursor:vertical-text; 
		}
	.alias           
		{ 
		cursor:alias; 
		}
	.copy            
		{ 
		cursor:copy; 
		}
	.move            
		{ 
		cursor:move; 
		}
	.no-drop         
		{ 
		cursor:no-drop; 
		}
	.not-allowed     
		{ 
		cursor:not-allowed; 
		}
	.all-scroll      
		{ 
		cursor:all-scroll; 
		}
	.col-resize      
		{ 
		cursor:col-resize; 
		}
	.row-resize      
		{ 
		cursor:row-resize; 
		}
	.n-resize        
		{ 
		cursor:n-resize; 
		}
	.e-resize        
		{ 
		cursor:e-resize; 
		}
	.s-resize        
		{ 
		cursor:s-resize; 
		}
	.w-resize        
		{ 
		cursor:w-resize; 
		}
	.ns-resize       
		{ 
		cursor:ns-resize; 
		}
	.ew-resize       
		{ 
		cursor:ew-resize; 
		}
	.ne-resize       
		{ 
		cursor:ne-resize; 
		}
	.nw-resize       
		{ 
		cursor:nw-resize; 
		}
	.se-resize       
		{ 
		cursor:se-resize; 
		}
	.sw-resize       
		{ 
		cursor:sw-resize; 
		}
	.nesw-resize     
		{ 
		cursor:nesw-resize; 
		}
	.nwse-resize     
		{ 
		cursor:nwse-resize; 
		}
	}

//////////// End Button Hover States ////////////

//////////// Start Disabled Button Styles ////////////

button[disabled]
	{
	opacity:.15;
	&:hover
		{
		opacity:.15;
		cursor: not-allowed;
		}
	}

//////////// End Disabled Button Styles ////////////

//---- End SCSS - CSS ----//







































