//****  This is the master scss/css file for all grid Styles  ****//

//---- Start SCSS - CSS ----//

#grid-wrapper
	{
	margin:0 auto; 
	padding:calc-em(15px, $context) 0 calc-em(10px, $context) 0;
	max-width:calc-em($grid-max-width, $context); 
	min-width:calc-em($grid-min-width, $context);
	overflow:auto;
	}
#grid-wrapper:after
	{
	// content:"";
	// display:$blc;
	// clear:both;
	}
.row
	{
	margin:calc-em(15px, $context) 0;
	width:100%;
	float:$float-l;
	}
.float-l 
	{
	float:$float-l;	
	}

.nested {
		background:$black;
	div 	{
			background:#444444;
			border:1px $b-solid transparent;
			@include border-box;
		div
		 		{
		 		background:#333;
		 	div 
		 			{
					background:#161616;
		 			}	
		 		}
			}
		}
.nhm 	{
		margin-left:0;
		margin-right:0;
		}
//---- End SCSS - CSS ----//







































