//****  This is the master scss/css file for all font Styles  ****//

@import "css/font/glyphicons";

@function calc-em($target-px, $context) 
	{
  	@return ($target-px / $context) * 1em;
	}

body
	{
	font-family:$mavenPro;	
	}
h1, h2, h3, h4, h5, h6
	{
	padding:0;
	font-family:$robotoCondensed;
	line-height:$heading-line-height;
	text-transform:capitalize;
	small 
		{
		padding:0;
		font-size:68%;
		color:$dark-grey;
		display:$blc;
		}
	}
h1
	{
	color:$pinkish;
	font-size:calc-em($h1-size, $context);
	font-style:$w-normal;
	font-weight:$w-400;	
	}
h2
	{
	color:$cyan;
	font-size:calc-em($h2-size, $context);
	font-style:$w-normal;
	font-weight:$w-300;	
	}
h3
	{
	color:$blue;
	font-size:calc-em($h3-size, $context);
	}
h4 
	{
	color:$purple;
	font-size:calc-em($h4-size, $context);	
	}
h5 
	{
	color:$orange;
	font-size:calc-em($h5-size, $context);	
	}
h6 
	{
	color:$violet;
	font-size:calc-em($h6-size, $context);	
	}
.no-style
	{
	h1, h2, h3, h4, h5, h6, p, small
		{
		color:$black;
		}	
	}
p
	{
	padding-bottom:calc-em($p-padding, $context);
	font-family:$mavenPro;
	font-size:calc-em($p-font-size, $context);
	color:$p-color;
	font-weight:$w-lighter;
	line-height:calc-em($p-line-height, $context);
	}
.showcase
	{
	margin-top:calc-em(14px, $context);
	border-left:10px $border-solid #a4a4a4;
	background:#F2F2F2;
	p 	{
		padding:$showcase-p-padding;	
		}
	a 	{
		color:$pinkish;
		}
	}
.grid-p
	{
	margin:0; 
	padding:calc-em(4px, $context) 0 calc-em(4px, $context) 0;
	font-family:$mavenPro;
	font-size:calc-em(16px, $context);
	color:$grid-p-color;
	text-align:$align-c;   
	font-weight:$w-bold;
	line-height:calc-em($grid-p-line-height, $context);
	}
.box-content
	{
	font-size:calc-em($p-font-size-s, $context);
	text-align:$align-c;
	}
.display-content
	{
	padding:calc-em(20px, $context);
	color:$dark-grey;
	display:$blc;
	line-height:calc-em($p-line-height, $context);
	}
a
	{
	font-family:inherit;
	color:$default-links-color;
	font-weight:$w-bold;
	&:visited
		{
		text-transform:capitalize;
		}
	}
.highlight
	{
	color:$aqua;
	font-weight:$w-bold;	
	}
.center
	{
	text-align:$align-c;
	}
.no-style
	{
	ol, ul
		{
		margin-left:20px;
		padding:4px 0;
		li 
			{
			padding:3px 0;
			}
		}
	}
.styled-list-circle
	{
	list-style-type:circle;
	}
.styled-list-square
	{
	list-style-type:square;
	}
.styled-list-lower-alpha
	{
	list-style-type:lower-alpha;
	}
.styled-list-upper-alpha
	{
	list-style-type:upper-alpha;
	}
.styled-list-lower-roman
	{
	list-style-type:lower-roman;
	}
.styled-list-upper-roman
	{
	list-style-type:upper-roman;
	}
.unstyled-list
	{
	list-style:none;
	}
.left-aligned
	{
	text-align:$align-l;
	}
.right-aligned
	{
	text-align:$align-r;
	}
.centered-aligned
	{
	text-align:$align-c;
	}
.justified
	{
	text-align:$align-j;
	}
blockquote
	{
	padding:$blockquote-padding;
	font-size:$blockquote-font-size;
	color:$blockquote-font-color;
	background-color:$blockquote-bg-color;
	border:1px solid $blockquote-border-color;
	line-height:$blockquote-line-height;
	overflow:auto;
	}
cite 
	{
	float:$float-r;
	bottom:$cite-bottom-pos;
	position:$pos-rel;
	font-weight:$w-bolder;
	}
cite:before 
	{
	margin-right:calc-em(6px, $context);
	content:'—';
	}